* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
}

:root {
  --light-text: #7d9d9c;
  --dark-text: #576f72;
  --green: #58e969;
  --red: #f77979;
  --background-clr: #f0ebe3;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem 0;
}

.header h1 {
  color: var(--dark-text);
  text-decoration: underline;
  text-decoration-color: var(--light-text);
  text-decoration-thickness: 2px;
}

#add-book-btn {
  padding: 5px 25px;
  background-color: white;
  color: var(--dark-text);
  border: 2px solid var(--dark-text);
  border-radius: 5px;
  cursor: pointer;
}

#add-book-btn:hover {
  background-color: var(--dark-text);
  color: white;
  transition: 0.3s all ease;
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 15px;

  min-width: 240px;
  box-shadow: 0px 10px 13px 0px #3333330e;
  background-color: white;
  border-radius: 5px;
}

.title {
  color: var(--dark-text);
  font-weight: 600;
}

.author {
  color: var(--light-text);
}

.pages {
  color: var(--dark-text);
  font-weight: 300;
}

.read {
  width: max-content;
  padding: 5px 25px;
  border: none;
  color: #2c383a;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.read:hover {
  filter: brightness(0.9);
  transition: all 0.2s ease-in-out;
}

#footer {
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  color: var(--dark-text);

  font-weight: 500;
}

dialog {
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  border-radius: 5px;
  color: var(--dark-text);
}

#book-form {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  max-width: 450px;
  justify-content: space-around;
  padding: 15px;
}

#book-form input {
  padding: 5px 10px;
  font-size: 16px;
}

#book-form div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#book-form button {
  padding: 10px 0px;
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
  color: var(--dark-text);
  border: 1px solid var(--dark-text);
  border-radius: 5px;
}

#book-form button:hover {
  color: white;
  background-color: var(--dark-text);
  transition: all 0.2s ease-in-out;
}

.book-buttons {
  display: flex;
  justify-content: space-between;
}

.delete-book {
  width: fit-content;
  border: 1px solid var(--dark-text);
  border-radius: 5px;
  padding: 3px 9px;
  background-color: white;
  color: var(--dark-text);
  cursor: pointer;
  transition: 0.15s all ease-in-out;
}

.delete-book:hover {
  background-color: var(--dark-text);
  color: white;
}

@media screen and (max-width: 510px) {
  .card {
    flex: 1;
    align-items: center;
    text-align: center;
  }
}
